<link rel="stylesheet" type="text/css" href="/css/index.css">

<div class="row">
  <div class="description col-xs-10 col-xs-offset-1">Welcome to a twitter based text generator, use it any time that you need filler text for a project mock up, or even just for fun. Since the text generated is coming from Twitter, <em>BE WARNED:</em> text may be <em>NSFW</em>. People everywhere say whatever they please on the internet, and as such, you may come accross things that offend you, or make you lose hope for humanity. <em>ENJOY!</em>
  </div>
</div>

<div>Generate Lorem by keyword, phrase, user, etc.</div>

<form action="/data/search" method="POST" class="searchForm">
  <input type="text" name="s" placeholder="Enter a search term">
  <button type="submit" class="btn">Generate</button>
  <br>
  <br>
  Select how long your lorem will be:
  <select name="loremLength">
    <option value="1">1 sentence</option>
    <option value="5">5 sentences</option>
    <option value="10">10 sentences</option>
    <option value="20">20 sentences</option>
    <option value="30">30 sentences</option>
  </select>
</form>

<div class="row">
  <div class="well col-xs-4 col-xs-offset-4">
    <% if(!currentUser) { %>
      <div class="row">
        <div class="col-xs-4 navButton">
          <a href="/auth/signup" id="signup">Signup</a>
        </div>
        <div class="col-xs-4 col-xs-offset-4 navButton">
          <a href="/auth/login" id="login">Login</a>
        </div>
      </div>
    <% } else { %>
      <div class="row">
        <div class="col-xs-4 navButton">
          <a href="/auth/logout">Logout</a>
        </div>
        <div class="col-xs-4 col-xs-offset-4 navButton">
          <a href="/data/favorites">Favorites</a>
        </div>
      </div>
    <% } %>
  </div>
</div>
