<h2>Favorites Page</h2>

  <% favorites.forEach(function(lorem){ %>
    <div class="well">
      <%=lorem.content %>
      <button type="button" action="/remove" class="deleteButton" value=<%=lorem.id%>>Delete</button>
    </div>
  <% }); %>

<a href="/">Home</a>
