select {
  color: black;
}

button {
  height: 50px;
  color: black;
}

input {
  height: 50px;
  width: 75%;
  color: black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.well {
  height: 24px;
  line-height: 0px;
}

form {
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .navButton {
    width: 100%;
  }
 }
