<div class = "well">
  <% tweets.forEach(function(tweet) { %>
    <% var tweetString = tweet.text %>
    <% var middleTweet = tweetString.replace(/RT/,''); %>
    <% var formatTweet = middleTweet.replace(/[@!\/\\#,+()~%.'"*?<>{}]/g,''); %>
    <%= formatTweet + '.'%>
  <% }); %>
</div>
